@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
  scrollbar-width: none;
}

#root, .App {
  height: 100vh;
  width: 100vw;
  margin: 0;
  text-align: center;

  --color1: #EDE0D4;
  --color2: #E6CCB2; 
  --color3: #DDB892;
  --color4: #B08968;
  --color5: #7F5539;
  --color6: #9C6644;

  background-color: var(--color1);
}

.Btn{
  width: 240px;
  height: 28px;
  border-radius: 12px;
  padding: 4px 8px;
  margin: 8px 0;
  background-color: var(--color6);
  color: var(--color3);
  border: 2px solid var(--color6);
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    color: var(--color6);
    background-color: var(--color3);
  }
}

.Header{  
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  .appTitle{
    font-family: 'Fredoka One', cursive;
    font-size: 40px;
  }
  nav{
    display:flex;
  }
  .NavItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
    width: 100px;
    color: var(--color6);
    &:hover{
      color: var(--color5);
    }
    .icon{
      width: 32px;
      height: 32px;
    }
    span{
      text-wrap: balance;
      line-height: 1;
      height: 36px;
      display: flex;
      align-items: center;
    }
    .selected{
      font-weight: 700;
      text-decoration: underline;
    }
  }
}
.Homepage, .RecipesBook, .NewRecipe, .RecipeDetails{
  height: calc(100% - 80px);
  width: 100%;
  /* overflow: auto; */
}

.Homepage{
  nav{
    display: flex;
  }
}

@keyframes openCard{
  0% {
    transform: rotate3d(0) scale(1);
  }
  50% {
    /* transform: rotate3d(0, 1, 0, 180deg) scale(1); */
    /* opacity: 0.25; */
  }
  100% {
    transform: rotate3d(0, 1, 0, 60deg) scale(1);
    /* opacity: 0; */
  }
}

.RecipesBook{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  .recipesList{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
    padding: 40px;
    gap: 50px;
    .RecipeCard{
      display: flex;
      padding: 12px;
      width: 25%;
      height: 100px;
      border-radius: 16px;
      background-color: var(--color2);
      justify-content: center;
      align-items: center;
      position: relative;
      .recipeItem{
        color: var(--color4);
        text-wrap: balance;
        &.addNewRecipe{
          width: 80px;
          height: 80px;
        }
      }
      .seeRecipeBtn, .addRecipeBtn{
        width: 32px;
        height: 32px;
        border-radius: 16px;
        position: absolute;
        top: calc(100% - 40px);
        fill: var(--color6);
        &:hover{
          transform: scale(1.15);
          transition: all ease 0.2s;
        }
      }
      .seeRecipeBtn{
        left: calc(100% - 40px - 32px - 8px);
      }
      .addRecipeBtn{
        left: calc(100% - 40px);
      }
  
      &:hover{
        /* animation: openCard 1s ease infinite alternate; */
        box-shadow: var(--color5) 5px 5px 10px;
        transition: all ease 0.2s;
      }
    }
  }
}

.RecipeDetails{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
  .BackBtn {
    display: flex;
    align-self: flex-start;
    align-items: center;
    padding: 0 40px;
    gap: 8px;
    height: 40px;
    position: sticky;
    top: 20px;
    svg{
      stroke-width: 1;
    }
    &:hover{
      transform: scale(1.15);
      transition: all ease 0.2s;
    }
  }
  .recipeImage{
    width: 640px;
    height: 360px;
    transform: scale(0.8);
    border-radius: 20px;
  }
  .recipeInfos{
    width: 700px;
    .recipePreparation, .recipeIngredients{
      display: flex;
      padding: 20px 8px;
      .detailsSubtitle{
        font-weight: 800;
        width: 140px;
      }
      .preparationTime{
        flex: 1;
        text-align: start;
      }
      .ingredientsList{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex: 1;
        text-align: start;
        .ingredientItem{
          width: 30%;
        }
      }
    }
  }
  .recipeDetails{
    background-color: var(--color4);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: flex-start; */
    gap: 20px;
    padding: 0 40px 60px 40px;
    margin: 40px 0;
    border-radius: 16px;
    .recipeStep{
      align-self: flex-start;
      display: flex;
      align-items: flex-start;
      .stepNumber{
        width: 40px;
      }
      .stepDescription{
        flex: 1;
        text-align: start;
      }
    }
  }
}

.NewRecipe{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  input, textarea, select{
    background: var(--color2);
    color: var(--color4);
    border: 1px solid var(--color4);
  }
  .recipeTitle{
    width: 30%;
    height: 24px;
    border-radius: 8px;
  }
  .tagsSelection{
    display: flex;
    .tagItem{
      display: flex;
      flex-direction: column;
      align-items: center;
      .checkbox{
        width: 16px;
        height: 16px;
        border: 1px solid var(--color6);
        border-radius: 4px;
        background-color: var(--color2);
      }
    }
  }
  .imageImport{
    width: 640px;
    height: 360px;
    transform: scale(0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: var(--color2);
    .imageSubdivision{
      width: 480px;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      background-color: white;
    }
    svg{
      color: var(--color4);
      width: 160px;
      height: 160px;
    }
  }
}