:root {
  --color1: #EDE0D4;
  --color2: #E6CCB2; 
  --color3: #DDB892;
  --color4: #B08968;
  --color5: #7F5539;
  --color6: #9C6644;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: var(--color1);
  color: var(--color4);
  background-color: var(--color1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color6);
  text-decoration: inherit;
}
/* a:hover {
  color: var(--color3);
} */

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color1);
}

#root{
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid var(--color4);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color4);
  color: var(--color1);
  cursor: pointer;
  /* transition: border-color 0.25s; */
}
button:hover {
  border-color: var(--color4);
  background-color: var(--color1);
  color: var(--color4);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    /* color: #213547; */
    background-color: var(--color1);
  }
  a:hover {
    color: var(--color5);
  }
  button {
    background-color: #f9f9f9;
  }
}
